doctype
html.no-js(lang='nl')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content=' width=device-width,initial-scale=1')
    title Theo Francken - Test setup f6a98
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(property='og:description', content='Theo Francken')
    meta(name='twitter:description', content='Theo Francken')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:url', content='http://demo.kanooh.be/f6a98')
    meta(name='description', content='Theo Francken')
    meta(property='og:title', content='Theo Francken')
    meta(name='Generator', content='Drupal 7 (http://drupal.org)')
    link(rel='canonical', href='/f6a98/theo-francken')
    link(rel='shortlink', href='/f6a98/node/1')
    link(rel='shortcut icon', href='http://demo.kanooh.be/f6a98/sites/all/themes/paddle_branded_theme/favicon.ico', type='image/vnd.microsoft.icon')
    meta(name='twitter:title', content='Theo Francken')
    link(type='text/css', rel='stylesheet', href='http://demo.kanooh.be/f6a98/sites/default/files/css/css_VWT0ViNCCTQ8OcP7YyuPFOA6zV7Balluj_M9NvF7svo.css', media='all')
    link(type='text/css', rel='stylesheet', href='http://demo.kanooh.be/f6a98/sites/default/files/css/css_DAQLJSfxc7ygphM6CUUn21urZTKQXH3rb7vCNbjPhns.css', media='all')
    link(type='text/css', rel='stylesheet', href='//widgets.vlaanderen.be/modules/custom/infolijn_widget/assets/libraries/FlemishAuthorities.InfolijnWidget.GlobalHeader/2.0.0/GlobalHeader.css?mtime=1496339058', media='all')
    link(type='text/css', rel='stylesheet', href='//widgets.vlaanderen.be/modules/custom/infolijn_widget/assets/libraries/FlemishAuthorities.InfolijnWidget.GlobalFooter/2.0.0/GlobalFooterRedesign.css?mtime=1496339058', media='all')
    link(type='text/css', rel='stylesheet', href='http://demo.kanooh.be/f6a98/sites/default/files/css/css_IrH8cIwRibql51qgBfbF-VV2u6GV1dEcqgwl8iOZ1Nc.css', media='all')
    link(type='text/css', rel='stylesheet', href='http://demo.kanooh.be/f6a98/sites/default/files/css/css_6tAHHBcWgEkphwSsFlpLbxErYqSDpo8LVQ10kTrcSsE.css', media='all')
    link(type='text/css', rel='stylesheet', href='http://demo.kanooh.be/f6a98/sites/default/files/css/css_aktZmWwCtnVfVRv7iRGs3ZKZOzzrZVomKIN5THr1LKs.css', media='all')
    link(type='text/css', rel='stylesheet', href='http://demo.kanooh.be/f6a98/sites/default/files/css/css_eVt3gzciHeiSqw5KMaJ9s2eu4ESErocQc7dbxKDlrwo.css', media='print')
    link(type='text/css', rel='stylesheet', href='http://demo.kanooh.be/f6a98/sites/default/files/css/css_jr68knfvkl2cpDpKz2Zu8g9NOQ0Od8_odmArvhx6LOk.css', media='all')

    script(type='text/javascript', src='http://demo.kanooh.be/f6a98/sites/default/files/js/js_Sk4s3YSF49p3EJGDQ1c09BtXyegURSDeTPC5rETd4cI.js')
    script(type='text/javascript', src='http://demo.kanooh.be/f6a98/sites/default/files/js/js_rZ2WDaIKMViBhWAsbbe248_cAA-Qg3LsiB0jwA3xm78.js')
    script(type='text/javascript', src='http://demo.kanooh.be/f6a98/sites/all/libraries/mediaelement/build/mediaelement-and-player.min.js?v=4.0.2')
    script(type='text/javascript', src='http://demo.kanooh.be/f6a98/sites/default/files/js/js_WNc9ElZVbGIGfHtdv-JdpvEejJcEi11gWdU7zNBqk_I.js')
    script(type='text/javascript', src='//widgets.vlaanderen.be/modules/custom/infolijn_widget/assets/libraries/html5shiv/3.7.0/html5shiv.min.js?mtime=1496339058')
    script(type='text/javascript', src='//widgets.vlaanderen.be/modules/custom/widget/assets/js/widget_api.min.js?mtime=1496339058')
    script(type='text/javascript', src='http://demo.kanooh.be/f6a98/sites/default/files/js/js_IfMCH1o4K_O4ro0fwYHrd8Ci49uja6uXyqZ6ejkc3gs.js')
    script(type='text/javascript', src='http://demo.kanooh.be/f6a98/sites/default/files/js/js_Z9nGWDql8jjn4IRXj4m2s7J3P-YQfFOJWLwM4aMC5y0.js')
    script(type='text/javascript', src='http://demo.kanooh.be/f6a98/sites/default/files/js/js_dZ9oDXtq8W-uJwYn8qiHWar1GaMVpJTug_D2as-UQsk.js')
    script(type='text/javascript', src='http://demo.kanooh.be/f6a98/sites/default/files/js/js_g-UJOyYxduFAJAUS1JZbZw09TmF0pBCjExvqwfw4Tak.js')
    script(type='text/javascript').
      jQuery.extend(Drupal.settings, {"basePath":"\\/f6a98\/","pathPrefix":"","ajaxPageState":{"theme":"paddle_theme_branded","theme_token":"ujSS96TIbtHsN-NllWhzhOlxaIy853Lm24O8MAbfRBQ","js":{"\/\/widgets.vlaanderen.be\/widget\/live\/7308abf9e3634a2e90011e6629c04d36\/smart_ssi_bootstrap.js":1,"\/\/widgets.vlaanderen.be\/widget\/live\/92bb34889dd34f71b6088af0fba9156c\/smart_ssi_bootstrap.js":1,"sites\/all\/themes\/paddle_theme\/scripts\/libs\/jquery.1.7.2.min.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"misc\/ui\/jquery.ui.core.min.js":1,"sites\/all\/libraries\/mediaelement\/build\/mediaelement-and-player.min.js":1,"misc\/jquery.cookie.js":1,"sites\/all\/themes\/paddle_theme\/scripts\/libs\/jquery.form.min.js":1,"\/\/widgets.vlaanderen.be\/modules\/custom\/infolijn_widget\/assets\/libraries\/html5shiv\/3.7.0\/html5shiv.min.js?mtime=1496339058":1,"\/\/widgets.vlaanderen.be\/modules\/custom\/widget\/assets\/js\/widget_api.min.js?mtime=1496339058":1,"misc\/ajax.js":1,"public:\/\/languages\/nl_ToU3U5Vh5hQUk7_ltozPFtgEvph3-whc7lUTXJWkhJI.js":1,"sites\/all\/modules\/paddle\/mediaelement\/mediaelement.js":1,"sites\/all\/libraries\/colorbox\/jquery.colorbox-min.js":1,"profiles\/paddle\/modules\/paddle_scald\/paddle_scald_image\/js\/paddle_scald_image_colorbox.js":1,"misc\/progress.js":1,"misc\/autocomplete.js":1,"sites\/all\/modules\/paddle\/widget_block\/js\/widget_block.js":1,"sites\/all\/modules\/paddle\/search_api_autocomplete\/search_api_autocomplete.js":1,"sites\/all\/themes\/paddle_theme\/scripts\/jquery.easing.1.3.js":1,"sites\/all\/themes\/paddle_theme\/scripts\/jquery.vo_menuslider.js":1,"sites\/all\/themes\/paddle_theme\/scripts\/menus.js":1,"sites\/all\/themes\/paddle_theme\/scripts\/search.js":1,"sites\/all\/themes\/paddle_theme\/scripts\/jquery.details.min.js":1,"sites\/all\/themes\/paddle_theme\/scripts\/details.js":1,"sites\/all\/modules\/paddle_carousel\/js\/jquery.slides.min.js":1,"sites\/all\/modules\/paddle\/paddle_menu_display\/misc\/paddle_menu_display.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"sites\/all\/libraries\/mediaelement\/build\/mediaelementplayer.min.css":1,"misc\/ui\/jquery.ui.core.css":1,"misc\/ui\/jquery.ui.theme.css":1,"\/\/widgets.vlaanderen.be\/modules\/custom\/infolijn_widget\/assets\/libraries\/FlemishAuthorities.InfolijnWidget.GlobalHeader\/2.0.0\/GlobalHeader.css?mtime=1496339058":1,"\/\/widgets.vlaanderen.be\/modules\/custom\/infolijn_widget\/assets\/libraries\/FlemishAuthorities.InfolijnWidget.GlobalFooter\/2.0.0\/GlobalFooterRedesign.css?mtime=1496339058":1,"sites\/all\/modules\/paddle\/date\/date_api\/date.css":1,"sites\/all\/modules\/paddle\/date\/date_popup\/themes\/datepicker.1.7.css":1,"modules\/field\/theme\/field.css":1,"sites\/all\/modules\/paddle\/logintoboggan\/logintoboggan.css":1,"sites\/all\/modules\/paddle_carousel\/css\/paddle_carousel.css":1,"profiles\/paddle\/modules\/paddle_core\/css\/font-awesome.min.css":1,"profiles\/paddle\/modules\/paddle_core\/css\/custom-fonts.css":1,"sites\/all\/modules\/paddle_news\/paddle_news.css":1,"profiles\/paddle\/modules\/paddle_preview\/css\/paddle_preview.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/paddle\/views\/css\/views.css":1,"sites\/all\/modules\/paddle\/ckeditor\/css\/ckeditor.css":1,"sites\/all\/modules\/paddle\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/paddle\/panels\/css\/panels.css":1,"profiles\/paddle\/modules\/paddle_panel_layouts\/plugins\/layouts\/paddle_3_col_c\/paddle_3_col_c.css":1,"sites\/all\/libraries\/colorbox\/example1\/colorbox.css":1,"sites\/all\/modules\/paddle\/ctools\/css\/modal.css":1,"sites\/all\/modules\/paddle\/search_api_autocomplete\/search_api_autocomplete.css":1,"sites\/all\/themes\/paddle_theme\/css\/resets.css":1,"sites\/all\/themes\/paddle_theme\/css\/navigation.css":1,"sites\/all\/themes\/paddle_theme\/css\/paddle.css":1,"sites\/all\/themes\/paddle_theme\/css\/paddle_theme.css":1,"sites\/all\/themes\/paddle_theme\/css\/paddle_wysiwyg.css":1,"sites\/all\/themes\/paddle_theme\/css\/paddlets.css":1,"sites\/all\/themes\/paddle_theme\/css\/panes.css":1,"sites\/all\/themes\/paddle_theme\/css\/search.css":1,"sites\/all\/themes\/paddle_theme\/css\/tables.css":1,"sites\/all\/themes\/paddle_theme\/css\/typography.css":1,"sites\/all\/themes\/paddle_theme\/css\/vo_branding.css":1,"sites\/all\/themes\/paddle_branded_theme\/css\/branded-fonts.css":1,"sites\/all\/themes\/paddle_theme\/css\/print.css":1,"public:\/\/ctools\/css\/5fe08eada55bdbd3c965b128f0b9adb4.css":1}},"mediaelementAll":true,"better_exposed_filters":{"views":{"paddle_panes_listing":{"displays":{"default":{"filters":[]}}}}},"CToolsModal":{"loadingText":"Loading...","closeText":"Close Window","closeImage":"\u003Cimg src=\u0022http:\/\/demo.kanooh.be\/f6a98\/sites\/all\/modules\/paddle\/ctools\/images\/icon-close-window.png\u0022 alt=\u0022Close window\u0022 title=\u0022Close window\u0022 \/\u003E","throbber":"\u003Cimg src=\u0022http:\/\/demo.kanooh.be\/f6a98\/sites\/all\/modules\/paddle\/ctools\/images\/throbber.gif\u0022 alt=\u0022Loading\u0022 title=\u0022Loading...\u0022 \/\u003E"},"WidgetBlock":{"currentLanguage":"nl"},"search_api_autocomplete":{"selector":":submit"},"urlIsAjaxTrusted":{"\/f6a98\/":true}});

  body.html.front.logged-in.page-node.page-node-.page-node-1.node-type-landing-page.i18n-nl.no-left-column
    #page.full-height.content-background-canvas
      #skip-nav.visuallyhidden.focusable
        a(href='#page-title', tabindex='1') Skip to main content

      a#top(name='top')

      .vo-global-header
        #block-widget-block-7308abf9e3634a2e90011e6629c04d36.block.block-widget-block
          .content
            #aa45ebceff55f5e4286857db3b683b3e6c85d7ad.iwgh2.iw2-no-js.iw2-retina-disabled.iw2-no-mobile.iw2-mobile-supported.iwgh2-redesign.iwgh2-redesign-alt.iw2-responsive.iwgh2-non-sticky.iwgh2-default-margin(aria-live='off', lang='nl')
              .iwgh2-bar
                .iw2-layout.iw2-default-breakpoint
                  .iw2-wrapper.iw2-default-margin
                    .iw2-inner-wrapper
                      .iwgh2-navigation
                        a.iw2-branded(href='//www.vlaanderen.be/nl', target='_self')
                          .iwgh2-branding-logo

                          span Vlaanderen

                        .iw2-menu.iw2-menu-no-items(data-show-menu-help='Toon navigatie menu', data-hide-menu-help='Verberg navigatie menu')
                          .iwgh2-navigation-menu-toggle-wrapper
                            .iwgh2-navigation-menu-toggle-animation-wrapper(style='')
                              a.iwgh2-navigation-menu-site(style='', href='mailto:redactie@vlaanderen.be?SUBJECT=Aanvraag Global Header en Footer via Kañooh') (!) Vraag uw gepersonaliseerde global header &amp; footer aan

                              a.iwgh2-navigation-menu-breadcrumb(style='display:none;', href='javascript:;')

                              span.iwgh2-navigation-menu-toggle.iw2-hidden
                                span.iw2-visually-hidden.iw2-help-text

                          .iwgh2-flyout-wrapper.iw2-window-closed(style='display:none;', tabindex='-1')
                            .iwgh2-search.iw2-hidden
                              form(method='POST', action='', novalidate='novalidate', role='search')
                                .iwgh2-form-label
                                  label(for='iwgh2-search-field') Zoeken

                                .iwgh2-form-textfield
                                  input#iwgh2-search-field.iwgh2-search-field.iwgh2-form-text(type='search', name='query')

                                .iwgh2-form-actions
                                  .iwgh2-form-action
                                    .iwgh2-form-button
                                      input.iwgh2-form-submit(type='submit', name='op', value='')

                            ul.iw2-menu-items(tabindex='-1')

                      .iwgh2-extensions
                        .iwgh2-extension-contact(data-show-menu-help='Toon menu', data-hide-menu-help='Verberg menu')
                          a.iwgh2-extension-contact-toggle.iw2-exclude-from-outbound-link-tracking.iw2-hidden(href='javascript:;', target='_self')
                            span.iw2-visually-hidden.iw2-help-text
                             Contacteer ons

                          .iwgh2-extension-contact-wrapper.iwgh2-flyout-wrapper
                            .iwgh2-contact-menu.iw2-window-closed.iw2-menu-no-items(style='display:none;', tabindex='-1')
                              .iwgh2-contact-menu-header.iw2-hidden
                                span.iw2-menu-item-title

                              ul.iw2-menu-items

                            .iwgh2-windows

      header
        .max-width.header-background-canvas.show-search
          .mobile-menu
            a.mobile-menu-trigger(href='#', aria-label='Navigatie')
              i.fa.fa-align-left

              span.visuallyhidden Navigatie&gt;

          a.mobile-search-btn(href='#')
            i.fa.fa-search

            span.visuallyhidden Zoeken

          .paddingizer
            .row
              .col-md-6.logo-wrapper
                a#logo(tabindex='2', href='/f6a98/', title='Home', rel='home')
                  img(src='http://demo.kanooh.be/f6a98/sites/all/themes/paddle_branded_theme/logo.png', alt='Home')

              .col-md-6.region-service-links-wrapper
                .region.region-service-links
                  #block-search-api-page-search.block.block-search-api-page
                    .content
                      form#search-api-page-search-form-search(action='/f6a98/', method='post', accept-charset='UTF-8')
                        div
                          .form-submit-container
                            input#edit-submit-1.form-submit(tabindex='6', type='submit', name='op', value='Zoeken')
                          input(type='hidden', name='id', value='1')
                          input(type='hidden', name='form_build_id', value='form-sW_p3sKADnaSARG9Sn_Mmr3k-SvnMOH5mxmbX9G9qxg')
                          input(type='hidden', name='form_id', value='search_api_page_search_form_search')
                          input(type='hidden', name='search_method', value='default_search')
                          .form-item.form-type-textfield.form-item-keys-1
                            label.element-invisible(for='edit-keys-1') Zoeken

                            input#edit-keys-1.auto_submit.form-text.form-autocomplete(placeholder='Wat zoekt u?', data-min-autocomplete-length='3', tabindex='5', type='text', name='keys_1', value='', size='15', maxlength='128')
                            input#edit-keys-1-autocomplete.autocomplete(type='hidden', value='http://demo.kanooh.be/f6a98/index.php?q=search_api_autocomplete/search_api_page_search/-', disabled='disabled')

      .content-wrapper
        section#page-content.max-width(role='main')
          .paddingizer
            .row.hide-overflow
              .col-xs-12
                nav#main-nav.clearfix
                  .region.region-header-bottom
                    #block-paddle-menu-display-first-level.block.block-paddle-menu-display
                      .content
                        #menu-display-first-level.menu_wrapper.level-1
                          ul.menu.level-1
                            li.menu-item.first
                              a.mlid-1214.active(href='/f6a98/')
                                span Agenda
                            li.menu-item
                              a.mlid-1211.active(href='/f6a98/')
                                span Beleid
                            li.menu-item
                              a.mlid-1215.active(href='/f6a98/')
                                span Contact
                            li.menu-item
                              a.mlid-970.active(href='/f6a98/')
                                span Home
                            li.menu-item
                              a.mlid-1212.active(href='/f6a98/')
                                span Nieuws
                            li.menu-item
                              a.mlid-1210.active(href='/f6a98/')
                                span Over Theo Francken
                            li.menu-item.last
                              a.mlid-1213.active(href='/f6a98/')
                                span Theo tuurt

                a#main-content

                .region.region-content
                  #block-system-main.block.block-system
                    .content
                      .row.paddle-layout-paddle_3_col_c.paddle-3-col-c
                        .row
                          .col-xs-12.root-column.panel-region-top
                            .panel-pane.pane-carousel.paddle-color-palettes-subpalette-0(data-pane-uuid='54e3e974-ce04-4525-8c23-80d12211f345')
                              a(name='54e3e974-ce04-4525-8c23-80d12211f345')



                              .pane-content
                                  .carousel(data-slider-speed='3000', data-slideshow='1')
                                    ul.slides
                                      li.slide(data-slide-uuid='593129d8019de', data-atom-id='4')
                                        img(src='http://demo.kanooh.be/f6a98/sites/default/files/styles/3_1/public/thumbnails/image/car-1.jpg', alt='aaaaaa')
                                      li.slide(data-slide-uuid='59312a2a54541', data-atom-id='5')
                                        img(src='http://demo.kanooh.be/f6a98/sites/default/files/styles/3_1/public/thumbnails/image/car-2.jpg', alt=' d d g ')
                                      li.slide(data-slide-uuid='59312a397b72c', data-atom-id='6')
                                        img(src='http://demo.kanooh.be/f6a98/sites/default/files/styles/3_1/public/thumbnails/image/car-3.jpg', alt='a"fé')
                                    .slider-counter
                                      span.current-slide 1
                                      span.total-slides
                                    a.autoplay-control(href='#')
                                      i.fa.fa-pause
                            .panel-separator
                            .panel-pane.pane-free-content.paddle-color-palettes-subpalette-0(data-pane-uuid='3ccd2f32-1b56-4d51-a8b6-1af92b9a5391')
                              a(name='3ccd2f32-1b56-4d51-a8b6-1af92b9a5391')



                              .pane-content
                                .pane-section-body
                                  .profile-img
                                    img.atom-id-7(src='http://demo.kanooh.be/f6a98/sites/default/files/thumbnails/image/profile-pic.jpg', alt='Theo Francken - profiel', title='', width='155', height='210')
                                  #profile-text
                                    h2 Theo Francken
                                    h4 Staatssecretaris voor Asiel en Migratie en Administratieve Vereenvoudiging

                        .row
                          .col-md-6.col-lg-8.root-column.panel-region-first-left
                            .panel-pane.pane-listing.paddle-color-palettes-subpalette-0(data-pane-uuid='4793b2de-089f-4f99-b4a4-0bc5fe1c807b')
                              a(name='4793b2de-089f-4f99-b4a4-0bc5fe1c807b')



                              .pane-content
                                .pane-section-top.view-mode-news_detailed
                                  h2.top-section-text Nieuws
                                .pane-section-body
                                  .view.view-paddle-panes-listing.view-id-paddle_panes_listing.view-display-id-default.paddle-landing-page-news-detailed.view-dom-id-00d47aeac1d69a9bfc3e251d1f42e176
                                    .view-content
                                      .views-row.views-row-1.views-row-odd.views-row-first
                                        .list-news-item.has-image.list-news-item-detailed(data-news-item-nid='6')
                                          a(href='/f6a98/theo-francken-in-het-vtm-nieuws-politieagentes-mogen-geen-hoofddoek-dragen')
                                            span.thumbnail
                                              img(src='http://demo.kanooh.be/f6a98/sites/default/files/styles/paddle_news_thumbnail/public/thumbnails/image/theo-francken-vtm-nieuws_0.jpg', width='90', height='90', alt='Theo Francken')
                                            span.info
                                              span.title Theo Francken in het VTM Nieuws: &quot;Politieagentes mogen geen hoofddoek dragen&quot;
                                              br
                                              span.date 2 juni 2017 -
                                              span.summary
                                                 In het VTM Nieuws was staatssecretaris Theo Francken duidelijk over het voorstel om hoofddoeken toe te laten voor politieagentes. &quot;Neutraliteit is heel belangrijk voor politiemensen en dus ook voor...

                                      .views-row.views-row-2.views-row-even
                                        .list-news-item.has-image.list-news-item-detailed(data-news-item-nid='7')
                                          a(href='/f6a98/regering-pakt-uit-met-28-nieuwe-veiligheidsmaatregelen-%E2%80%9Cwe-moeten-het-net-rond-terroristen-en-zware')
                                            span.thumbnail
                                              img(src='http://demo.kanooh.be/f6a98/sites/default/files/styles/paddle_news_thumbnail/public/thumbnails/image/veiligheid-vingerafdruk-thinkstock.jpg', width='90', height='90', alt='ehgr')
                                            span.info
                                              span.title
                                                 Regering pakt uit met 28 nieuwe veiligheidsmaatregelen: &ldquo;We moeten het net rond terroristen en zware criminelen verder sluiten&rdquo;
                                              br
                                              span.date 14 mei 2017 -
                                              span.summary
                                                 Op de eerste van drie zogenoemde superministerraden heeft de federale regering een pakket van 28 nieuwe maatregelen goedgekeurd die de veiligheid van de burgers moeten verhogen. Een aantal daarvan vergroot de slagkracht van de veiligheids- en inlichtingendiensten in hun strijd tegen terreur, zware criminaliteit en steeds meer ook cybercriminaliteit.

                                      .views-row.views-row-3.views-row-odd.views-row-last
                                        .list-news-item.has-image.list-news-item-detailed(data-news-item-nid='8')
                                          a(href='/f6a98/verdubbeling-terugkeercapaciteit-goedgekeurd')
                                            span.thumbnail
                                              img(src='http://demo.kanooh.be/f6a98/sites/default/files/styles/paddle_news_thumbnail/public/thumbnails/image/imagedesk-2015032707561424_1.jpg', width='90', height='90', alt="é't")
                                            span.info
                                              span.title Verdubbeling terugkeercapaciteit goedgekeurd
                                              br
                                              span.date 14 mei 2017 -
                                              span.summary
                                                 Vandaag keurde de thematische Ministerraad over veiligheid op voorstel van Staatssecretaris Theo Francken (N-VA) het &lsquo;Masterplan Gesloten Centra voor illegalen&rsquo; goed, dat voorziet in een forse...
                                .pane-section-bottom.view-mode-news_detailed
                                  a(href='/f6a98/news')
                                     Meer nieuws
                                    i.fa.fa-chevron-right
                            .panel-separator
                            .panel-pane.pane-listing.paddle-color-palettes-subpalette-0(data-pane-uuid='da43533e-3ec0-4a51-8cc4-3d98692962c4')
                              a(name='da43533e-3ec0-4a51-8cc4-3d98692962c4')



                              .pane-content
                                .pane-section-top.view-mode-news_short
                                  h2.top-section-text Nationaal nieuws
                                .pane-section-body
                                  .view.view-paddle-panes-listing.view-id-paddle_panes_listing.view-display-id-default.paddle-landing-page-news-short.view-dom-id-98fea05ca6aa2fcbfc38f5be9a512cc4
                                    .view-content
                                      .views-row.views-row-1.views-row-odd.views-row-first
                                        .list-news-item.list-news-item-short(data-news-item-nid='9')
                                          a(href='/f6a98/brusselse-arts-tine-gregoor-is-tiende-vlaamse-madam')
                                            span.info
                                              span.title Brusselse arts Tine Gregoor is tiende &apos;Vlaamse Madam&apos;
                                              br
                                              span.date 1 juni 2017

                                      .views-row.views-row-2.views-row-even
                                        .list-news-item.list-news-item-short(data-news-item-nid='10')
                                          a(href='/f6a98/grensoverschrijdend-gedrag-naar-een-aanpak-voor-alle-beleidsdomeinen')
                                            span.info
                                              span.title Grensoverschrijdend gedrag: naar een aanpak voor alle beleidsdomeinen
                                              br
                                              span.date 1 juni 2017

                                      .views-row.views-row-3.views-row-odd
                                        .list-news-item.list-news-item-short(data-news-item-nid='11')
                                          a(href='/f6a98/europa-doet-voorzichtige-aanzet-tegen-sociaal-misbruik-in-transportsector')
                                            span.info
                                              span.title  Europa doet voorzichtige aanzet tegen sociaal misbruik in transportsector
                                              br
                                              span.date 1 juni 2017

                                      .views-row.views-row-4.views-row-even
                                        .list-news-item.list-news-item-short(data-news-item-nid='15')
                                          a(href='/f6a98/europa-investeert-te-weinig-in-veiligheid-en-te-veel-in-turkije')
                                            span.info
                                              span.title Europa investeert te weinig in veiligheid en te veel in Turkije
                                              br
                                              span.date 31 mei 2017

                                      .views-row.views-row-5.views-row-odd
                                        .list-news-item.list-news-item-short(data-news-item-nid='14')
                                          a(href='/f6a98/leeftijdsvergrendeling-op-tabaksautomaten-werkt-niet')
                                            span.info
                                              span.title Leeftijdsvergrendeling op tabaksautomaten werkt niet
                                              br
                                              span.date 31 mei 2017

                                      .views-row.views-row-6.views-row-even
                                        .list-news-item.list-news-item-short(data-news-item-nid='16')
                                          a(href='/f6a98/philippe-muyters-in-terzake-ik-wil-dat-er-snel-voor-alle-sporters-een-oplossing-komt')
                                            span.info
                                              span.title
                                                 Philippe Muyters in Terzake: &quot;Ik wil dat er snel voor alle sporters een oplossing komt&quot;
                                              br
                                              span.date 31 mei 2017

                                      .views-row.views-row-7.views-row-odd
                                        .list-news-item.list-news-item-short(data-news-item-nid='17')
                                          a(href='/f6a98/europa-kiest-voor-platte-gratispolitiek-met-wifi-van-120-miljoen-euro')
                                            span.info
                                              span.title Europa kiest voor platte gratispolitiek met wifi van 120 miljoen euro
                                              br
                                              span.date 30 mei 2017

                                      .views-row.views-row-8.views-row-even.views-row-last
                                        .list-news-item.list-news-item-short(data-news-item-nid='18')
                                          a(href='/f6a98/geografische-ligging-mag-geen-rol-spelen-bij-verdeling-europese-onderzoeksgelden')
                                            span.info
                                              span.title Geografische ligging mag geen rol spelen bij verdeling Europese onderzoeksgelden
                                              br
                                              span.date 30 mei 2017
                                .pane-section-bottom.view-mode-news_short
                                  a(href='http://www.n-va.be/nieuws')
                                     Meer nationaal nieuws
                                    i.fa.fa-chevron-right

                          .col-md-6.col-lg-4.root-column.panel-region-second-middle
                            .panel-pane.pane-free-content.paddle-color-palettes-subpalette-0(data-pane-uuid='61a2017b-5165-45b5-a207-c5dee6ff846f')
                              a(name='61a2017b-5165-45b5-a207-c5dee6ff846f')



                              .pane-content
                                .pane-section-top
                                  h2.top-section-text Staatssecretaris Francken
                                .pane-section-body
                                  h3 Bezoek de website
                                  p
                                     Als staatssecretaris onderhoudt Theo Francken een afzonderlijke website. Bent u ge&iuml;nteresseerd in het reilen en zeilen bij Asiel en Migratie en bij Administratieve Vereenvoudiging, dan vindt u hier de antwoorden die u zoekt.
                                .pane-section-bottom
                                  a(href='http://www.francken.fgov.be/nl')
                                     lees meer
                                    i.fa.fa-chevron-right
                            .panel-separator
                            .panel-pane.pane-embed-widget.paddle-color-palettes-subpalette-0(data-pane-uuid='fbc932c4-644c-4a60-afe9-06868b6482d7')
                              a(name='fbc932c4-644c-4a60-afe9-06868b6482d7')



                              .pane-content
                                .pane-section-body
                                  a.twitter-timeline(href='https://twitter.com/FranckenTheo', data-height='600') Tweets by FranckenTheo

                                  script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')

                        .row
                          .col-md-6.col-lg-4.root-column.panel-region-first-left

                          .col-md-6.col-lg-4.root-column.panel-region-second-middle

                          .col-md-12.col-lg-4.root-column.panel-region-third-right

        #fake-menu-bg

    .vo-global-footer
      #block-widget-block-92bb34889dd34f71b6088af0fba9156c.block.block-widget-block
        .content
          .iwgf2__placeholder
            footer#bed71b51d29a3229e2becf520f4cc37f516af3a2.iwgf2.iwgf2-redesign.iw2-no-js.iw2-retina-disabled.iw2-no-mobile.alternative.iw2-mobile-supported.iw2-responsive.iw2-window-closed.iwgf2-expandable.iwgf2-default-margin(aria-live='off', role='contentinfo', lang='nl')
              div(style='height: 0; width: 0; position: absolute; visibility: hidden; display: none;')
                svg(xmlns='http://www.w3.org/2000/svg')
                  symbol#cross(viewbox='0 0 28.84 28.84')
                    title cross
                    path(d='M26.01 28.84L14.42 17.25 2.83 28.84 0 26.01l11.59-11.59L0 2.83 2.83 0l11.59 11.59L26.01 0l2.83 2.83-11.59 11.59 11.59 11.59-2.83 2.83z')
                  symbol#login-circle(viewbox='0 0 14 14')
                    title login
                    path(d='M7 4a2 2 0 1 1-2 2 2 2 0 0 1 2-2zm0 10a7 7 0 0 0 4.65-1.78 6 6 0 0 0-9.3 0A7 7 0 0 0 7 14z')
                  symbol#question-circle(viewbox='0 0 14 14')
                    title question-circle
                    path(data-name='copy 2', d='M6.36 9.19l1.55-.42a.72.72 0 0 1-.27-.55C7.64 7.12 10 7 10 5.06 10 3.84 8.87 3 7.06 3A4.11 4.11 0 0 0 4 4.25l1.13 1.2a2.24 2.24 0 0 1 1.72-.81C7.63 4.64 8 5 8 5.38 8 6.28 5.9 6.47 5.9 8a1.66 1.66 0 0 0 .46 1.19zM7 12a1.07 1.07 0 1 0-1.1-1.05A1.11 1.11 0 0 0 7 12z')
                  symbol#search(viewbox='0 0 63.08 63.05')
                    title search
                    path(data-name='icon search', d='M26.68 53.32A26.66 26.66 0 1 0 0 26.66a26.66 26.66 0 0 0 26.68 26.66zm0-45.91A19.24 19.24 0 1 1 7.42 26.66 19.24 19.24 0 0 1 26.68 7.41zm32.7 55.64A3.71 3.71 0 0 0 62 56.72L45.54 40.26a3.71 3.71 0 0 0-5.25 5.25L56.75 62a3.71 3.71 0 0 0 2.62 1.09z', style='isolation:isolate')
                  symbol#up-down(viewbox='0 0 7.03 10.01')
                    title up-down
                    path(d='M.18 7.17c.25.25 2.83 2.65 2.83 2.65a.68.68 0 0 0 1 0s2.6-2.4 2.84-2.65a.69.69 0 0 0 0-1 .66.66 0 0 0-.93 0L3.5 8.42l-2.36-2.2a.66.66 0 0 0-.93 0 .7.7 0 0 0-.03.95zm6.65-4.3C6.59 2.62 4.01.2 4.01.2a.67.67 0 0 0-1 0S.44 2.62.2 2.87a.7.7 0 0 0 0 1 .65.65 0 0 0 .92 0l2.4-2.26 2.36 2.22a.65.65 0 0 0 .92 0 .7.7 0 0 0 0-1z')
                  symbol#vlaanderen-logo(viewbox='0 0 19.61 31.05')
                    title vlaanderen-logo
                    path(data-name='Logo Vlaanderen', d='M19.61 16c-1.08-.82-1.59 0-2.27 0s-1.12-1-1.56-.75c-.85.43.34 2 .86 2.27a12.51 12.51 0 0 0 1.18.59 1.72 1.72 0 0 1 1 1.55 3 3 0 0 1 0 .75c-.31 1.32-2.64 2.52-4 1.61a3 3 0 0 1-1.4-2c-.36-1.73-1.62-3-2-4.7-.25-1-.43-2.12-.7-3.15S10.17 10 9.94 9A27.44 27.44 0 0 0 9 5.92C7.71 2.61 7.14 2.85 7.14 2.85s.46.92 2.15 9A47.8 47.8 0 0 0 10.42 17c.16.42.44 1.32.62 1.72.54 1.16 2 2.92 2.05 4.51.05.92.16 1.68.18 2.37a7.37 7.37 0 0 0 .24 1.4c.35 1 3.14 4.09 6.1 4.09v-2.41a10.88 10.88 0 0 1-5.79-1.82 6.37 6.37 0 0 1 .35-1.7 2.78 2.78 0 0 1 2.39-1.94 17.91 17.91 0 0 1 3 .31V16zM6.82 7.36c-.11 1.77-2.87 4.2-3.73 5.75A11.43 11.43 0 0 0 2 15.95a7.53 7.53 0 0 0 .62 4.67c.91 2.18-.12 3 .59 2.54.88-.72.75-2.39.68-3.43a14.77 14.77 0 0 1 0-2.82 13.29 13.29 0 0 1 2.41-5.33 4.84 4.84 0 0 0 .52-4.22m.56 5s.29 1.4-1 5c-3.26 9.45 3 10.34 4.74 12.56 0 0 .69-1-2.14-4-1-1.12-2-3.6-1.15-7.15 1.17-5.13-.5-6.39-.5-6.39M1.21 6.2A4.53 4.53 0 0 1 1 4.7c.2-2.22 2.23-3.12 2.73-3.45A2.7 2.7 0 0 0 4.76 0a3 3 0 0 1-1.21 3.67A6.06 6.06 0 0 0 1.21 6.2m5.11-2.15c.11.23 1 1.45-2.48 4.27s-2.36 4.84-2.36 4.84-3.66-2 .56-5.53 3.35-4.2 3.35-4.2a1.05 1.05 0 0 1 .93.63m4.46 1.08c.59.08 1 1.92 2.35 2.32 1 .29 2.08.13 2.32.74a.52.52 0 0 0 .37.92c.39-1.12.58-5.24-5.03-3.98zm1.86.86c0-.13.12 0 .27-.12a1.66 1.66 0 0 1 .59-.48 1 1 0 0 1 .62 0c.12 0 0 .33 0 .4s-.74-.09-.74.32c0 .67.91 0 1.38 0 .23 1.64-2.48 1.19-2.08-.16z')
                  symbol#warning(viewbox='0 0 22.03 20')
                    title warning
                    path(data-name='icon warning', d='M3.06 20.01a5.83 5.83 0 0 1-1-.09 2.25 2.25 0 0 1-1.91-3.08 4.91 4.91 0 0 1 .42-.92c0-.15 8-14 8.06-14.16A4.86 4.86 0 0 1 9.51.62a2.16 2.16 0 0 1 3 0 4.37 4.37 0 0 1 .84 1c-.07 0 8.14 14.36 8.12 14.28a4.36 4.36 0 0 1 .54 1.46 2.32 2.32 0 0 1-2.48 2.65c-1.32.05-.64 0-2 0H3.06zm16-1.34a3.66 3.66 0 0 0 .7 0 .94.94 0 0 0 .8-1.33 4.13 4.13 0 0 0-.36-.75c-.57-1-8.07-14.14-8.1-14.24-.72-1-1.34-1-2.1 0 0 .05-8.22 14.29-8.17 14.36-.82 1.3-.36 1.93 1.18 1.94h16zm-9-12h2v6h-2.05v-6zm-.05 9.34v-2h2v2h-2z')

              .iwgf2-bar
                .iw2-layout.iw2-default-breakpoint
                  .iw2-wrapper.iw2-default-margin
                    .iw2-inner-wrapper
                      .iwgf2__content
                        .iwgf2__logo
                          svg.iwgf2__logo__img
                            use(xlink:href='#vlaanderen-logo')

                          .iwgf2__logo__text
                            .iwgf2__logo__title Vlaanderen

                            .iwgf2__logo__tagline verbeelding werkt

                        .iwgf2__site-info
                          h2.iwgf2__site-info__title Dit is een offici&euml;le website van de Vlaamse overheid

                          .iwgf2__site-info__publisher
                            span uitgegeven door

                            span(itemprop='publisher', itemscope='', itemtype='http://schema.org/Organization')
                              a.iwgf2__site-info__publisher__link(itemprop='url', href='http://www.vlaanderen.be', target='_self')
                                span(itemprop='name') de Vlaamse overheid


                          .iwgf2__contact-us.js-iwgf2-contact-us.iwgf2-hidden
                            a.iwgf2__contact-us__link.iwgf2-contact-toggle-show.iwgf2-exclude-from-outbound-link-tracking(href='', target='_self', data-show-menu-help='Toon menu', data-hide-menu-help='Verberg menu')
                              span
                                span.iw2-visually-hidden.iw2-help-text
                                 Contacteer ons

                              .iwgf2__contact-us__link__icon
                                svg.iwgf2__contact-us__link__icon__img
                                  use(xlink:href='#question-circle')

                          .iwgf2__navigation
                            ul.js-iwgf2-navigation-list.iwgf2__navigation__list

                        .iwgf2-languages.iwgf2__languages
                          ul.iwgf2-menu-items.iwgf2-menu-no-items.iwgf2__languages-list.js-iwgf2-languages-list

              .iwgf2-windows
                .iw2-window-closed.iwgf2-window.iwgf2-window-contact(style='display:none;', tabindex='-1')
                  .iwgf2-window-wrapper.iwgf2-window-contact-wrapper
                    .iwgf2-window-header
                      a.iwgf2-window-close.iw2-exclude-from-outbound-link-tracking(href='javascript:;')
                        span Sluiten

                    .iwgf2-window-content(tabindex='-1')
                      ul.iw2-menu-items.iw2-menu-no-items(tabindex='-1')

    script(type='text/javascript', src='//widgets.vlaanderen.be/widget/live/7308abf9e3634a2e90011e6629c04d36/smart_ssi_bootstrap.js')
    script(type='text/javascript', src='//widgets.vlaanderen.be/widget/live/92bb34889dd34f71b6088af0fba9156c/smart_ssi_bootstrap.js')
