// ====================================================================================================== //
// OVERRIDE-STYLES.SCSS //
// ====================================================================================================== //

@charset "UTF-8";

@import "bourbon";
@import "utils/variables/*";
@import "utils/mixins/*";
@import "utils/functions/*";

@import "base/typography";

header {
  background-color: #FFF;
}

#main-nav {
  background-color: #FFF;
}

#block-paddle-menu-display-first-level .level-1 {
  width: 100% !important;

  > .menu-item {
    border-color: #fff;

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:first-child {
      a {
        padding-left: 0;
      }
    }

    &:hover {
      border-color: color(white);
      box-shadow: none;
    }

    &:after {
      position: absolute;
      top: 20%;
      right: 0;
      height: 60%;
      width: 2px;
      background-color: color(nva);
      content: "";
    }

    > a {
      border-color: #fff;
      color: #000;
      font-family: "helveticanbc";
      font-size: 1.467em;

      &:hover {
        color: color(nva);
      }
    }
  }
}

#fake-menu-bg {
  display: none;
}

.block-search-api-page {
  .form-item {
    float: right;
    width: 100%;

    @media screen and (min-width: 890px) {
      width: auto;
    }
  }

  input[type="text"] {
    background-color: #f8f8f8;
  }
}

.carousel {
  .slider-counter,
  .autoplay-control,
  .flex-direction-nav {
    display: none;
  }
}

.pane-content {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body {
  background-color: transparent;
}

.paddle-layout-paddle_3_col_c > :first-child {
  @include clearfix;

  .pane-free-content {
    margin-top: -100px;
  }
}
.flex-viewport {
  height: 260px;
}

.pane-free-content {
  @include clearfix;
  width: 100%;
  display: block;
  z-index: 9999;
  position: relative;

  .profile-img {
    img {
      border: 5px solid #f9b919;
    }

  }

  #profile-text {
    margin-top: 100px;

    h2 {
      margin-bottom: 0;
      line-height: 30px;
    }

    h4 {
      font-size: 22px;
    }

    h2,
    h4 {
      font-family: "helveticanhc";
    }
  }

  .profile-img {
    margin-right: 20px;
    float: left;
  }
}
.paddle-layout-paddle_3_col_c > :nth-child(3) {
  display: none;
}

.paddle-layout-paddle_3_col_c {
  @media screen and (min-width: 890px) {
    background-color: #f8f8f8;

  > :nth-child(1) {
    background-color: #FFF;
  }

  > :nth-child(2) {
    background-color: #f8f8f8;
    display: block;
    @include clearfix;

    &:before {
      position: absolute;
      width: 1000px;
      height: 75%;
      content: "";
      background-color: #f8f8f8;
      display: block;
      left: -1000px;
    }

    &:after {
      position: absolute;
      width: 1000px;
      height: 75%;
      content: "";
      background-color: #f8f8f8;
      display: block;
      right: -1000px;
    }
  }
  }
}

.hide-overflow {
  overflow: visible;
}

.panel-pane .pane-content .pane-section-top,
.agenda-search-pane-title.pane-section-top {
  background-color: transparent;
  h2 {
    padding: 20px 0;
    @include typo("helveticanhc", 26, 32, #000, normal)
    border-bottom: 2px solid #f9b919;
  }
}

.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-bottom {
  background-color: transparent;
  padding-top: 20px;

  > a {
    display: inline-block;
    text-align: left;
    padding: 10px;
    background-color: #f9b919;
    color: #FFF;
    float: none;
    display: inline-block;
    font-family: "helveticanbc";
    font-style: normal;
    text-transform: uppercase;
    border-radius: 3px;

    &:before {
      @include icon("\f0c9");
      margin-right: 10px;;
    }

    .fa-chevron-right {
      display: none;
    }
  }
}

.list-news-item-detailed .thumbnail {
  width: 230px;
  height: auto;
}

.list-news-item-detailed img {
  border-radius: 0;
  width: 230px;
  display: none;

  @media screen and (min-width: 480px) {
    display: block;
  }
}

.paddle-landing-page-news-detailed .list-news-item .title {
  @include typo("helveticanhc", 22, 26, #000, normal);
  text-decoration: underline;
  margin-bottom: 10px;
  display: block;
}

.list-news-item {
  border: none;
}

.info {
  overflow: hidden;
  display: block;

  br {
    display: none;
  }
}
body {
  overflow-x: hidden;
}

#page {
    overflow: hidden;
    width: 100%;
}

.paddle-landing-page-news-short .views-row {
  a {
    border: none;
    outline: none;

    &:hover {
      background-color: #f8f8f8;
    }
  }
}

.paddle-landing-page-news-short .list-news-item {
  position: relative;
  a {
    margin: 0;
    padding: 0;
  }
}

.paddle-landing-page-news-short .view-content {
  padding: 20px 0;
}

.paddle-landing-page-news-short .list-news-item .title {
  @include typo("helveticanhc", 14, 26, #000, normal);
  text-decoration: underline;
  margin-bottom: 0;
  position: relative;
  left: 100px;
}

.paddle-landing-page-news-short .list-news-item .date {
  position: absolute;
  left: 15px;
  top: 3px;
}

.paddle-landing-page-news-detailed .views-row {
  border-bottom: 2px solid #f9b919;
  padding: 20px 0;

  a {
    border: none;
    outline: none;

    &:hover {
      background-color: #f8f8f8;
    }
  }
}

.footer-background-canvas {
  .row {
    .panel-pane .pane-content .pane-section-body a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .panel-pane .pane-content .pane-section-top h2,
    .panel-pane .pane-content .pane-section-body p,
    .panel-pane .pane-content .pane-section-body a {
      color: #FFF;
    }

    .panel-pane .pane-content .pane-section-body {
      padding-top: 0;
      margin-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .panel-pane .pane-content .pane-section-top {
      padding-top: 0;
      margin-top: 0;
      padding-bottom: 0;
      margin-bottom: 10px;

      h2 {
        border-bottom: none;
        color: #f9b919;
        font-size: 18px;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.menuslider-controls {
  display: none;
}

.paddle-social-media-share {
  background-color: #f8f8f8;
}

.paddle-social-media-share {
  margin: 0;
  padding: 20px 0;
}

// .list-news-item a {
//   padding: 0;
// }
